@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';
html, body{height:100%;font-family: 'Reem Kufi', sans-serif !important;width:100%;background:#f0f4f8 !important;    color: #666; font-size: 16px;
}body::-webkit-scrollbar {
 width: .4em;
}
 body::-webkit-scrollbar-track {
 -webkit-box-shadow: none;
}
 body::-webkit-scrollbar-thumb {
 background: #004E96;
 background: -webkit-gradient(left top, right bottom, color-stop(0%, #004E96), color-stop(100%, #004E96));
 background: linear-gradient(135deg, #004E96 0%, #004E96 100%);
 outline: 1px solid slategrey;
}
 input::-moz-focus-inner, button::-moz-focus-inner {
 border: 0;
 padding: 0;
}
*{box-sizing:border-box}
h1,h2,h3,h4,h5,h6{font-family: 'Reem Kufi', sans-serif !important;
}#inicio .vino.vx{-webkit-filter:blur(10px);filter:blur(10px);bottom:-200px}
.grid-lines {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1000000002;
	pointer-events: none
} #loki{position: absolute;top: 44% !important; right: .3%;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;z-index:10; width: 550px;}
 #loki h1{font-weight: 700; font-size: 45px; color: #005297;}
  #loki h2{font-weight: 700; font-size:23px; line-height: 28px;padding-top: 5px; padding-bottom: 22px;}#inicio img {

    transition: ease-out 0.3s all;
    -webkit-transition: ease-out 0.3s all;
}#inicio .vino{top:28%;right:10%}
.grid-lines .container {
	height: 100%;z-index: -100;
}
.grid-lines .row {
	height: 100%; z-index: -100;
}
.grid-lines .col {
	height: 100%; z-index: -100;
	border-left: 1px solid rgba(0, 0, 0, .06)
}
.grid-lines .col:last-child { z-index: -100;
	border-right: 1px solid rgba(0, 0, 0, .06)
}

 #loki{position: absolute;top: 44% !important; right: .3%;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;z-index:10; width: 550px;}
 #loki h1{font-weight: 700; font-size: 45px; color: #005297;}
  #loki h2{font-weight: 700; font-size:23px; line-height: 28px;padding-top: 5px; padding-bottom: 22px;}
a{color:inherit;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s}
#loader{width:100%;height:100%;position:fixed;background:#004E96;z-index:9999;left:0;top:0;}
#loader .num{position:absolute;width:100px;height:30px;color:#fff;opacity:0.9;font-size:2.5em;font-family: 'Reem Kufi', sans-serif !important;
overflow:hidden;text-align:center;top:50%;margin-top:-15px;left:0px;transition:all ease-out 0.6s;-webkit-transition:all ease-out 0.6s;transform:rotate(-90deg);-webkit-transform:rotate(-90deg); font-weight: bold;}
#loader i{width:2px;height:100%;position:absolute;top:0;left:64px;background:#FAA61A;}
#loader i .per{width:100%;height:0;bottom:0;left:0;background:#fff;position:absolute;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;}
section{position:relative;width:100%;min-height:100%}
section em{position:absolute;bottom:0}
header{height:100%;position:fixed;top:0;left:0;z-index:99;transition:background ease-in 0.3, width ease 0.1s 0.3s;-webkit-transition:background ease-in 0.3s, width ease 0.1s 0.3s;width:20px}
header.op{width:100%;background:rgba(0,0,0,0.7);transition:background ease-in 0.3s 0.1s, width ease 0.1s;-webkit-transition:background ease-in 0.3s 0.1s, width ease 0.1s;}
header .bt-menu{position:absolute;width:54px;height:54px;background:#004E96;border-radius:50px;cursor:pointer;z-index:3;top:4.7%;left:23px;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s}
header .bt-menu i{width:20px;height:1px;background:#FFF;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;}
header .bt-menu i:first-child{margin-top:-5px;}
header .bt-menu i:last-child{margin-top:5px;}
header .bt-menu.open{background:#FAA61A; color:#FFF !important;}
header .bt-menu.open i{transform:rotate(45deg);-webkit-transform:rotate(45deg);left:33%}
header .bt-menu.open i:first-child{transform:rotate(135deg);-webkit-transform:rotate(135deg);margin-top:0}
header .bt-menu.open i:last-child{display:none}
nav{width:250px;height:100%;position:fixed;background:#004E96 !important;color:#FFF;left:-250px}
nav i{width:50px;height:100%;position:absolute;z-index:0;background:#FAA61A; color: #fff;}
nav ul{position:relative;z-index:1;transform:translateY(-50%);-webkit-transform:translateY(-50%);top:50%}
nav li:first-child{margin-top:0;}
/* Fixed Responsiveness of sidebar menu, now automatically adopts to the window height. */
nav li{height:16.66%;vertical-align: middle;position:relative;padding-left:50px;/*margin-top:60px*/}
nav li a{font-size:1.2em;display:block;line-height:250%;padding-left:3px;opacity:0;}
nav li span{position:absolute;width:50px;height:25px;color:#000;opacity:0.1;font-size:2.0em;font-family: 'Reem Kufi', sans-serif !important;overflow:hidden;letter-spacing:2px;text-align:center;top:13px;left:13px;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);opacity:0}
nav li.view a{opacity:1;padding-left:25px;}
nav li.view span{opacity:0.6; color: #fff;}
nav li.active > span{opacity:0.25}
nav li.active > a{color:#000}
#navScroll{height:calc(100% - 74px);position:fixed;color:#FFF;z-index:98;top:74px}
#navScroll i{width:50px;height:100%;position:absolute;z-index:0;border-right:1px solid rgba(255,255,255,0.3)}
#navScroll li{max-height:86px !important;min-height:50px;position:relative;padding-left:50px;margin-top:15px;height:17%}
#navScroll li:first-child{margin-top:0;}
#navScroll li a{padding:20px;left:49px;top:0;font-size:.8em;display:block;height:100%;padding-left:3px;font-family: 'Reem Kufi', sans-serif !important;position:absolute;border-left:1px solid rgba(250,166,26,0.8);}
#navScroll li a strong{font-weight:normal; width: 175px !important;color:#252525;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);opacity:1;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s}
#navScroll li span{position:absolute;width:50px;height:25px;color:#FAA61A ;opacity:0;font-size:2.5em;font-family: 'Reem Kufi', sans-serif !important;overflow:hidden;letter-spacing:0.1em;text-align:center;top:50%;margin-top:-2px;left:13px;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
#navScroll li em{position:absolute;left:49px;top:0px;width:4px;background:#FAA61A !important;opacity:0;z-index:3;max-height:100% !important;height:0;transition:height, opacity ease-out 0.3s;-webkit-transition:height, opacity  ease-out 0.3s;-moz-top:0}
#navScroll li.active em{opacity:1}
#navScroll li.active a{padding-left:23px;}
#navScroll li.active a strong{opacity:1}
#navScroll li.active span{opacity:0.2}



#inicio  .mouse_scroll {
  display: block;
 position:absolute; bottom: -30px; right: 5%;
  width: 24px;
  height: 100px;

z-index: 99;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #aaa;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #aaa;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}













/* Z-Index Fix; */
#inicio .mic{ margin: -190px auto 20px auto; width:103px;z-index: 9999;position: relative;}
/* 404 Error Fix; */
#inicio{/*background: url('http://speakforkerala.com/image/bg.jpg');*/
    -webkit-background-size: cover;  background-size:cover  !important; height: 100%; padding: 30px 0px;}
#inicio .wp{width:100%;max-width:1170px;position:relative;z-index:3;margin: -180px auto 30px auto;padding:0% 60px 1% 420px;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;left:-80px;opacity:0}

#videogal .wp{width:100%;max-width:1170px;position:relative;z-index:3;margin: -180px auto 30px auto;padding:0% 60px 1% 420px;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;left:-80px;opacity:0}
.centered {
  position: absolute;
  top: 52.4%;
  left: 22.5%;
}

#inicio #ripple {
  color: rgba(250,166,26,0.8);
  width: 500px;
  height: 500px;
  margin-left: -50px;
  margin-top: -50px; z-index: 99;
}

.circle {
  position: absolute;
  height: 500px;
  width: 500px;
  border: 1px solid rgba(250,166,26,0.8);
  border-radius: 250px;
  animation: wave 5s infinite linear;
  animation-fill-mode: both;
}

.circle:nth-child(2) {
  animation-delay: 1.66s;
}

.circle:nth-child(3) {
  animation-delay: 3.33s;
}


/* stays on full alpha from 50 to 75 */

@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}
@media (min-width:1100px){
	nav li:hover > span{opacity:0.25}
	nav li:hover > a{color:#000}
	header .bt-menu:hover{background:#FAA61A;}
	header .bt-menu.open:hover{background:#FAA61A;}

}
@keyframes arrowHome {
    0%   {top:0px;}
    25%  {top:-10px;}
    50%  {top:20px;}
    75%  {top:-10px;}
    100% {top:0px;}
}
@keyframes arrowForm {
    0%   {left:150px;}
    45%  {left:200px;}
   	46%  {left:200px;display:none}
    47%  {left:-15px;display:block}
    100% {left:150px;}
}

@media (max-width:1024px){
	#inicio .loki{left:0}

}

@media (max-width:960px){
	#loader .num{left:-20px}
	#loader i{left: 43px;}
	#navScroll{z-index:-1;opacity:0}
	/*1*/

}

blockquote{
    display: inline;
    font-size: 20px !important;
    line-height: 1.4;
    background-color: #FAA61A;padding: 10px 5px; color:#FFF; font-weight: bold !important; text-transform:none !important;display: inline-block; border: none !important;}


  #inicio  .copy {
        max-width: 760px;
        padding: 150px 30px 30px;
        position: relative;
        margin: auto;
        text-align: center; z-index: 1000;
              transition: ease-out 0.5s all;
        -webkit-transition: ease-out 0.5s all;
    }
#about		.copy {
		    max-width: 760px;
		    padding: 100px 30px 30px;
		    position: relative;
		    margin: auto;
		    text-align: center;
		    top: 100px;
		    transition: ease-out 0.5s all;
		    -webkit-transition: ease-out 0.5s all;
		}
#about .copy p{margin:20px 0;font-size:1em;color:#848383;line-height:1.5;position:relative;font-family: 'Reem Kufi', sans-serif !important; text-align: justify;}
#about .copy h2{color:#FFF;font-weight:normal;font-size:2.5em;font-family: 'Reem Kufi', sans-serif !important; text-transform: uppercase; font-weight: bold;background: #004e95; line-height: 1.6em;
    color: #fff;
    padding: 1px 10px; display: inline-block;
  }
#about .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:rgba(250,166,26,0.8);}






#tnc .copy {
		    max-width: 760px;
		    padding: 180px 30px 30px;
		    position: relative;
		    margin: auto;
		    text-align: center;
		    top: 190px;
		    transition: ease-out 0.5s all;
		    -webkit-transition: ease-out 0.5s all;
		}
#tnc .copy p{margin:20px 0;font-size:1em;color:#848383;line-height:1.5;position:relative;font-family: 'Reem Kufi', sans-serif !important; text-align: justify;}
#tnc .copy h2{color:#FFF;font-weight:normal;font-size:2.5em;font-family: 'Reem Kufi', sans-serif !important; text-transform: uppercase; font-weight: bold;background: #004e95; line-height: 1.6em;
    color: #fff;
    padding: 1px 10px; display: inline-block;
  }
#tnc .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:rgba(250,166,26,0.8);}















#about .firma{display:block;margin:auto;width:250px;position:relative;font-size:1.5em;}
#about .firma h4{color:#FFF;font-family: 'Reem Kufi', sans-serif !important;position:absolute;z-index:1;top:10px;left:0}
#about .firma svg{width:100%;stroke:#5a5a5a;stroke-width:1px;stroke-dasharray:0, 1087;transition:ease-in 2.5s all;-webkit-transition:ease-in 2.5s all;width:100%;}
#about .firma.view svg{stroke-dasharray:1087, 0;}

#cocina .copy{max-width: 760px !important;
    padding: 170px 30px 30px;
    position: relative;
    margin: auto;
    text-align: center;
    top: 230px;
    transition: ease-out 0.5s all;
    -webkit-transition: ease-out 0.5s all}

	.copy h2{color:#FFF;font-weight:normal;font-size:2.5em;font-family: 'Reem Kufi', sans-serif !important; text-transform: uppercase; font-weight: bold;background: #004e95; line-height: 1.6em;
	    color: #fff;
	    padding: 1px 10px; display: inline-block;
	  }
		.copy p{margin:20px 0;font-size:1em;color:#848383;line-height:1.5;position:relative;font-family: 'Reem Kufi', sans-serif !important; text-align: justify;}
 .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:rgba(250,166,26,0.8);}

 .panel-body { text-align: justify !important; padding: 15px 15px;  border: none; border-radius: 0;background:#fff !important; }

 .panel-default>.panel-heading {
    color: #FFF; text-align: justify;
    background-color:#FAA61A;
    border-color:none; border-radius: 0;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel-default {
    border-color:none !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
}
#inicio  .button{
background: #004E96;
border: none;
color: #fff;
cursor: pointer;
font-size: 1.2em;
height: 40px; display: inline-block;
outline: none;
width: 160px; position: absolute; right:71.3%;bottom:-75px; z-index: 99;animation: glowing 1500ms infinite;
}
@keyframes glowing {
     0% { background-color: #004E96; box-shadow: 0 0 2px #004E96; }
     50% { background-color: #004E96; box-shadow: 0 0 16px #004E96; }
     100% { background-color: #004E96; box-shadow: 0 0 2px #004E96; }
     }
.reg-col .button{
background: #004E96;
border: none;
color: #fff;
cursor: pointer;
font-size: 1.2em;
height: 40px;
outline: none;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;
width: 160px; position: absolute; right: 43%;z-index: 99;
}

#inicio .button:hover{    background: #FAA61A;}
.cover a{color:#FAA61A;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;}


.end-col{background: #FAA61A; height: 150px; width: 100%; margin:5px 0px;}

.end-col h3{text-align: center; color: #fff; padding:60px 20px; font-weight: bold;}
#cocina .copy{max-width:1100px;position:relative;margin:auto;text-align:center;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;top:75px}

#cotizar .copy{max-width:1100px;position:relative;margin:auto;text-align:center;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;top:75px}

/*#cotizar button{display:block;padding-left:0;position:relative;line-height:60px;font-size:1.2em;color:#1f1f1f;text-transform:uppercase;letter-spacing:0.3em;text-align:center;width:180px;margin:auto;margin-top:20px;background:#FAA61A;font-family: 'DINpro-m';top:80px;z-index:2;border:none;cursor:pointer;outline:none;overflow:hidden;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;}*/
#cotizar button img{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);position:absolute;left:150px;top:50%;margin-top:-3px}
#cotizar img.arrollado{left:50%;top:0;position:absolute;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}
#hablemos {padding-top: 75px;}
#hablemos .copy{max-width:1100px;position:relative;margin:75px auto 25px auto;text-align:center;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;top:175px}
#hablemos h2{color:#FFF;font-weight:normal;font-size:2.5em;font-family: 'Reem Kufi', sans-serif !important; text-transform: uppercase; font-weight: bold;background: #004e95; line-height: 1.6em;
	 color: #fff;
	 padding: 1px 10px; display: inline-block;
 }
 #hablemos .copy p{margin:20px 0;font-size:1em;color:#848383;line-height:1.5;position:relative;font-family: 'Reem Kufi', sans-serif !important; text-align: justify;}
#hablemos .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:rgba(250,166,26,0.8);}

.reg-col{max-width:1000px; margin: 35px auto; background: #fff; min-height:650px !important; }

.wrap {
  width: 750px;
  margin:30px auto; padding: 45px;
}

.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #2a2a2a;
  transition: all 0.5s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px; text-align: left;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #004E96;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #004E96;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}

select {
	height: 38px;
}

/*select {
	margin: 0 auto;
	color: #EC6F66;
	width: 310px;
	padding: 15px;
	height: 25px;
	cursor: pointer;
	background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
}*/

/*select:hover {
	background-color: transparent;
	color: white;
	padding: 15px 5px 15px 25px;
}*/

select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}

select option:hover {
	padding-left: 25px;
	width: 270px;
	color: #EC6F66;
}

.gall{ margin: 45px auto; max-width: 760px !important;}

#owl-demo .item img{
		display: block;
		width: 760px;
		 overflow-x:hidden;
}  #owl-demo .item{
			display: block;
			width: 760px;
  }

			/*Footer*/
			footer{position:absolute;height:125px;padding:30px 0;max-width:760px;bottom:-210px;left:32%;}
			footer .wp{width:100%;max-width:1200px;color:#aaa;font-size:13px;padding:0 40px;margin:auto}
			footer .nk {font-weight:700;opacity:.5;float:right;transition:all .3s;-webkit-transition:all .3s;}
			footer .nk div {position: relative;display:inline-block;vertical-align:middle; transition:all .3s;-webkit-transition:all .3s;margin-left:10px}
			footer .nk div img {transition: all .3s;}
			footer .nk div img:last-child {position: absolute; top: 0; left: 0; opacity: 0; transform: scale(0);}
			footer .loki-foot,
			footer p{float:left;}
			footer p{line-height:80px;padding-left:15px}
			footer p a.mail{color:#FFF;border-bottom:1px solid #ba9565}
			footer p strong{color:#ba9565;font-size:20px;margin:0 10px}
			footer p a.fb{position:relative;color: red;}
			footer p a.fb img.w{position:relative;top:4px;margin-left:8px;}
			footer p a.fb img.g{position:absolute;right:0px;top:0;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;opacity:0;z-index:1}

#demo{max-width: 760px; margin: 45px auto;}


@media screen and (max-width: 620px) {

#video-controls{width:95%;left:52%}
footer{display:none !Important;}
.reg-col small{margin-bottom:40px; margin-top:-20px;}

#inicio .button {
    background: #004E96;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    height: 40px;
    outline: none;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    width: 160px;

  
    z-index: 19;right:25%;
}

 #inicio .logo {
      width: 80px;
      position: relative;
      height: 80px !important;
      left: 10px !important;
      z-index: 1;
      top: 100px !important;
  }#inicio #loki {
      width:100%;
      position: relative;

      left: 3px !important;
      z-index: 1;
      top: 40px !important;
  }
  #loki h1{font-weight: 700; font-size: 19px; color: #005297;}
   #loki h2{font-weight: 700; font-size:17px; line-height: 18px;padding-top: 5px; } #loki p{margin-bottom:40px; !important;}
#inicio .wp{ left:10px !important; right: 0; padding: 15px; width: 90%; left: 7% !important;}
  #loki{position: absolute; right: 0% !important;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;z-index:100; margin-top: 25px !important; }

#inicio {height: auto; padding:15px auto;}

		.reg-col .button{
		background: #004E96;
		border: none;
		color: #fff;
		cursor: pointer;
		font-size: 1.2em;
		height: 40px;
		outline: none;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;
		width: 160px; position: absolute; left: 28%;bottom:2px; z-index: 99;
		}

	 #loki{position: absolute; right: 8.5% !important;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;z-index:100; margin-top: 205px !important; }


	#loki img{ height: 250px; width:250px;}

		.centered {display:none !important;
		  position: absolute;
		  top: 40%;
		  left:4.5%;
		}
	#hablemos .copy{ padding-top: -55px !important;}


		#inicio #ripple {
		  color: rgba(250,166,26,0.8);
		  width: 350px;
		  height: 350px; margin: 220px auto 0 auto;
		 z-index: 99;
		}

		.circle {
		  position: absolute;
		  height: 350px;
		  width: 350px;
		  border: 1px solid rgba(250,166,26,0.8);
		  border-radius: 200px;
		  animation: wave 5s infinite linear;
		  animation-fill-mode: both;
		}







	#demo{max-width: 640px; margin: 45px auto;left:20%;}#video-controls{width:95%;left:52%}
	.copy h2{color:#FFF;font-weight:normal;font-size:1.4em !important;font-family: 'Reem Kufi', sans-serif !important; text-transform: uppercase; font-weight: bold;background: #004e95; line-height: 2em;
	    color: #fff;
	    padding: 1px 10px; display: inline-block;
	  }#inicio .wp{padding:50px 40px;}
		#inicio .pimienta-1, #inicio .pimienta-2{width:20%;}
		#inicio .espatula,
		#inicio .romero,
		#inicio .destapa,
		#inicio .ajos{display:none}
		#inicio .sarten{width:500px;top:-35px;left:62%;}
		#inicio .loki{width:130px;height:120px;}
		#inicio .loki span{right:10px}
		#inicio h1{margin:40px auto;font-size:1.8em}

		/*2*/
		#historia .copy{padding:50px 20px}
		#historia .copy h2{max-width:230px;margin:auto}
		#historia .copy p{font-size:1.6em}
		/*3*/
		#video-controls{width:95%;left:52%}
		#cocina .wp{padding:0 40px}
		#cocina .sobrinos h2{font-size:1.8em;}
		#cocina .sobrinos .plato{bottom:auto;width:350px;top:-290px}
		#cocina .sobrinos .cuchillo,
		#cocina .sobrinos .tenedor{display:none}
		#cocina .sobrinos .perejil{width:120px}
		#cocina .sobrinos .pimienta{display:none}
		#cocina .sobrinos .pimienta2{width:66px;left:20%}
		#cocina .sobrinos .ajo{width:80px}
		#fotos .wp{padding:0}
		#cocina .fotos img{width:100%;}
		#cocina .lo_mejor img.figaza,
		#cocina .lo_mejor img.rodajas,
		#cocina .lo_mejor img.pimienta,
		#cocina .lo_mejor img.frances{display:none}
		#cocina .lo_mejor .copy h2{max-width:187px;margin:auto;line-height:1.2}
		#cocina .lo_mejor .copy p{font-size:1.6em;padding:0 20px;max-width:100%;margin-bottom:50px}	footer{position:absolute;height:125px;padding:30px 0;max-width:460px;bottom:-210px;left:0;margin-top: 106px; text-align: left;}footer p {
	     line-height: 18px;
	    padding-left: 15px;
	}.gall{ margin: 45px auto !important;}	#owl-demo .item img{
				display: block;
				max-width: 460px !important;
				height:auto; overflow-x:hidden;
		}  #owl-demo .item{
					display: block;
					max-width: 460px !important;
					height:auto;  }


		.wrap {
		  width:100%;max-width: 450px;
		  margin:30px auto; padding: 45px 35px;
		}

		.mat-label {
		  display: block;
		  font-size: 16px;
		  transform: translateY(25px);
		  color: #2a2a2a;
		  transition: all 0.5s;
		}

		.mat-input {
		  position: relative;
		  background: transparent;
		  width: 100%;
		  border: none;
		  outline: none;
		  padding: 8px 0;
		  font-size: 16px; text-align:center;
		}

		.mat-div {
		  padding: 30px 0 0 0;
		  position: relative;
		}

		.mat-div:after, .mat-div:before {
		  content: "";
		  position: absolute;
		  display: block;
		  width: 100%;
		  height: 2px;
		  background-color: #e2e2e2;
		  bottom: 0;
		  left: 0;
		  transition: all 0.5s;
		}

		.mat-div::after {
		  background-color: #004E96;
		  transform: scaleX(0);
		}

		.is-active::after {
		  transform: scaleX(1);
		}

		.is-active .mat-label {
		  color: #004E96;
		}

		.is-completed .mat-label {
		  font-size: 12px;
		  transform: translateY(0);
		}

		.copy {
				    max-width: 760px;
				    padding: 50px 10px;}
						#inicio .mic{ display: none;}
						#inicio{overflow:hidden;background: url('http://speakforkerala.com/image/bg.jpg');
						    -webkit-background-size: cover;  background-size:cover;}

								#inicio  .button{
								background: #004E96;
								border: none;
								color: #fff;
								cursor: pointer;
								font-size: 1.2em;
								height: 40px;
								outline: none;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;
								width: 160px; position: absolute;top:410px !important; z-index: 199 ;
								}

#videogal .copy {

		    padding: 10px;
		    position: relative;
		    margin: auto;
		    text-align: center;
		    top: 110px;
		    transition: ease-out 0.5s all;
		    -webkit-transition: ease-out 0.5s all;
		}
}


.rule{ height: 1px; width: 100%; max-width: 760px; background: blue;}
.date{ background: blue; padding: 10px 10px; font-size:17px; color: #fff; font-weight: bold;  margin-top: 20px; min-width: 17px; margin-left: -25px;}

#videogal .copy {
max-width: 1000px;
		    padding: 80px 30px 2px 30px;
		    position: relative;
		    margin: auto;
		    text-align: center;
		    top: 110px;
		    transition: ease-out 0.5s all;
		    -webkit-transition: ease-out 0.5s all;
		}
#videogal .copy p{margin:20px 0;font-size:1em;color:#848383;line-height:1.5;position:relative;font-family: 'Reem Kufi', sans-serif !important; text-align: justify;}
#videogal .copy h2{color:#FFF;font-weight:normal;font-size:2.5em;font-family: 'Reem Kufi', sans-serif !important; text-transform: uppercase; font-weight: bold;background: #004e95; line-height: 1.6em;
    color: #fff;
    padding: 1px 10px; display: inline-block;
  }
#videogal .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:rgba(250,166,26,0.8);}

#videogal{min-height: 960px;}
#video_player {
  display: table; line-height: 0;
  font-size: 0; background: #000;
  max-width: 1200px;
  margin: 55px auto;
}
#video_container {
  position: relative;
}
#video_player div, #video_player figcaption {
  display: table-cell;
  vertical-align: top;
}
#video_container video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
}
#video_player figcaption { width: 25%; }
#video_player figcaption a { display: block; }
#video_player figcaption a {
  opacity: .5;
  transition: 1s opacity;
}
#video_player figcaption a img, figure video {
  width: 100%; height: auto;
}
#video_player figcaption a.currentvid, #video_player figcaption a:hover, #video_player figcaption a:focus { opacity: 1; }
@media (max-width: 700px) {
  #video_player video, #video_player figcaption {
    display: table-row;
  }
#video_container { padding-top: 56.25%; }
#video_player figcaption a {
  display: inline-block; width: 33.33%;
}
}
article.video {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px auto;
  background: #f0f4f8;
  font-size: 13px;
  border-radius: 3px;
  overflow: hidden;
  font-family: Arial;
}
article.video video {
  cursor: pointer;
  width: 100%;
  opacity: 0;
}
article.video video.visible {
  opacity: 1;
  transition: opacity 1s ease-out 0.8s;
}
article.video .control-bar {
  width: 100%;
  height: 2.2em;
  padding-bottom: 1px;
  position: absolute;
  bottom: -2.2em;
  left: 0;
  transition: bottom 0.3s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
article.video .control-bar .button-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(52, 59, 74, 0.8) 0%, rgba(34, 41, 58, 0.8) 100%);
  border-radius: 3px;
  z-index: 2;
}
article.video .control-bar .button-bar i {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 100;
  color: white;
  position: absolute;
  width: 2em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  top: 50%;
  margin-top: -0.75em;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s ease;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  z-index: 2;
}
article.video .control-bar .button-bar i:hover {
  opacity: 1;
}
article.video .control-bar .button-bar i.hidden {
  opacity: 0;
  z-index: 1;
}
article.video .control-bar .button-bar i.play,
article.video .control-bar .button-bar i.pause,
article.video .control-bar .button-bar i.replay {
  width: 2.5em;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
article.video .control-bar .button-bar i.fullscreen {
  left: auto;
  right: 0.3em;
}
article.video .control-bar .button-bar .volume {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 100;
  color: white;
  position: absolute;
  width: 2em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  top: 50%;
  margin-top: -0.75em;
  opacity: 0.6;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow: hidden;
  left: 2.3em;
  font-size: 1.2em;
  transition: all 0.8s ease-out;
}
article.video .control-bar .button-bar .volume.shift {
  width: 7.5em;
  transition: all 0.2s ease-in;
}
article.video .control-bar .button-bar .volume .toggle {
  left: 0;
}
article.video .control-bar .button-bar .volume .rail {
  position: absolute;
  left: 2.5em;
  top: 0;
  width: 3em;
  height: 100%;
  margin-top: 0;
  overflow: hidden;
}
article.video .control-bar .button-bar .volume .rail .grip {
  position: absolute;
  width: 0.4em;
  height: 1em;
  margin-left: -0.2em;
  left: 100%;
  top: 50%;
  margin-top: -0.5em;
  background: white;
}
article.video .control-bar .button-bar .volume .rail .audible,
article.video .control-bar .button-bar .volume .rail .inaudible {
  position: absolute;
  width: 100%;
  height: 0.3em;
  left: 0;
  top: 50%;
  margin-top: -0.15em;
  background: #2bffdf;
}
article.video .control-bar .button-bar .volume .rail .inaudible {
  background: #ccc;
}
article.video .control-bar .button-bar .time {
  color: #eee;
  font-size: 0.8em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 7em;
  height: 2.2em;
  line-height: 2.8em;
  opacity: 0.9;
  transition: all 0.7s ease-in 0.2s;
}
article.video .control-bar .button-bar .time.shift {
  left: 13em;
  transition: all 0.2s ease-out;
}
article.video .control-bar .seek {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  top: -2px;
  opacity: 0.5;
  transition: all 0.2s ease;
  cursor: pointer;
  z-index: 7;
}
article.video .control-bar .seek .buffer {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  z-index: 8;
}
article.video .control-bar .seek .watched {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 8;
  background: #2bffdf;
  overflow: visible!important;
}
article.video .control-bar .seek .watched:before,
article.video .control-bar .seek .watched:after {
  content: "";
  position: absolute;
  right: 10px;
  height: 100%;
  width: 10px;
  background: #5effe7;
  border-radius: 2px;
  box-shadow: 0 0 2px #5effe7;
}
article.video .control-bar .seek .watched:after {
  right: 0px;
  box-shadow: 0px 0 3px 0px #91ffee;
  background: #91ffee;
}
article.video .control-bar .seek .watched .handle {
  position: absolute;
  display: block;
  right: -2px;
  top: -1px;
  width: 0px;
  height: 0px;
  border: 2px solid white;
  z-index: 9;
  background: transparent;
  border-radius: 100%;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), 0 0 4px 1px #91ffee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
article.video .control-bar .seek .watched .handle.active {
  background: #666;
}
article.video .control-bar .seek .watched .handle:after {
  content: "";
  width: 26px;
  height: 22px;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top: 50%;
  margin-top: -15px;
}
article.video .control-bar .seek:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: -5px;
  left: 0;
  z-index: 6;
}
article.video .control-bar .seek:hover {
  height: 6px;
  top: -6px;
}
article.video.active .control-bar {
  bottom: 0;
  transition: bottom 0.05s ease-out;
}
article.video.active .control-bar.active .seek:hover .handle {
  top: -3px;
}
article.video.active .control-bar.active .seek .handle {
  width: 4px;
  height: 4px;
  right: -5px;
  top: -6px;
  border-width: 5px;
  transition: all 0.1s ease;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), 0 0 4px 0px #91ffee;
}
article.video.active .seek {
  opacity: 1;
}
article.video .loading {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  height: 100px;
  margin-top: 20px;
  color: white;
  font-size: 0.8em;
  opacity: 0.1;
  transition: all 0.4s ease;
}
article.video .loading.hidden {
  opacity: 0;
  top: 120%;
  height: 0;
}
article.video .loading:hover,
article.video .loading.error {
  opacity: 1;
}
article.video .large-play {
  text-align: center;
  display: block;
  width: 50px;
  height: 50px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 100;
  font-size: 3em;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  cursor: pointer;
  opacity: 0.8;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s ease;
}
article.video .large-play.hidden {
  top: 45%;
  opacity: 0;
}
article.video .spinner {
  display: block;
  overflow: visible;
  text-indent: -999em;
  position: absolute;
  border-radius: 100% 0;
  z-index: 2;
  background: #fff;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 2px;
  margin-left: -10px;
  margin-top: -10px;
  box-shadow: 0px 0px 3px 2px rgba(43, 255, 223, 0.4), 0 0 5px 3px rgba(43, 255, 223, 0.4) inset;
  border: none;
  transform-origin: 9px 9px;
  animation: spin 13s cubic-bezier(0.435, -0.165, 0.56, 1.17) infinite;
  transition: top 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
article.video .spinner.hidden {
  top: 120%;
}
article.video .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 3px;
  transform: rotate(140deg);
  box-shadow: 0px 0px 3px 2px rgba(43, 255, 188, 0.4), 0 0 5px 2px rgba(43, 255, 188, 0.4) inset;
  animation: spin2 17s linear infinite;
  transform-origin: 9px 9px;
}
article.video .spinner:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 4px;
  transform: rotate(70deg);
  box-shadow: 0px 0px 5px 3px rgba(43, 252, 255, 0.4), 0 0 5px 1px rgba(43, 252, 255, 0.4) inset;
  animation: spin2 13s linear infinite;
  transform-origin: 9px 9px;
}
@media screen and (max-width: 800px) {
  article.video {
    font-size: 12px;
  }
}

.demo-container {
  width: 50%;
  margin: auto;
  background: #eee;
  padding: 20px;
  font-family: "Redacted";
  font-size: 14px;
  color: #ccc;
  line-height: 1.2;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.eot?v=3.1.0');
  src: url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'), url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.woff?v=3.1.0') format('woff'), url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.ttf?v=3.1.0') format('truetype'), url('http://netdna.bootstrapcdn.com/font-awesome/3.1.1/font/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  14% {
    transform: rotate(470deg);
  }
  18% {
    transform: rotate(490deg);
  }
  20% {
    transform: rotate(520deg);
  }
  22% {
    transform: rotate(540deg);
  }
  26% {
    transform: rotate(940deg);
  }
  30% {
    transform: rotate(1080deg);
  }
  40% {
    transform: rotate(1340deg);
  }
  45% {
    transform: rotate(1440deg);
  }
  55% {
    transform: rotate(1500deg);
  }
  56% {
    transform: rotate(1500deg);
  }
  86% {
    transform: rotate(3220deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
#videogal .video{position:relative;z-index:2}
#video-controls{position:absolute;left:50%;bottom:23.9%;transform:translateX(-50%);-webkit-transform:translateX(-50%);width:70%;opacity:0.3;transition:opacity ease 0.3s;-webkit-transition:opacity ease 0.3s;}
#video-controls .barra{width:calc(100% - 90px);height:8px;background:rgba(0,82, 151, 0.4);position:relative;float:left;margin:10px 0px}
#video-controls #play-pause, #video-controls #mute{float:left;margin:0 5px;height:27px;width:34px;font-size:0;border:none;outline:none;background:none;padding:0;cursor:pointer;}
#video-controls #volume-bar, #video-controls #full-screen{display:none;}
#video-controls #seek-bar{background:#FFF !important;position:absolute;height:100%;left:0;top:0;transition:width ease-in 0.3s;}	#video-controls{opacity:1}
#inicio .logo{width:200px;position:relative;height:125px;left:-260px; z-index: 999; top: 240px;}
#inicio .logo span{position:absolute;right:25px;bottom:0;color:#FFF;font-size:0.8em;text-transform:uppercase;letter-spacing:0.2em}
#inicio .logo img{transition:ease-out 2s all;-webkit-transition:ease-out 2s all;width:100%;}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
    font-size: 70%;
}

.video-wrapper {
    position: relative; margin-top: 85px;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: -webkit-linear-gradient(transparent, #000);
    background-image: linear-gradient(transparent, #000);
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}
